@import "./variables.scss";

.blog-root {
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
  .post-list {
    max-width: 50em;
    height: 32em;
    padding: 0.2em;
  }
  .post-link {
    .tags {
      height: 9px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        margin: 0;
      }
      span {
        color: $primary-color;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.post {
  padding: 1rem;
  margin: 0 auto;
  .header {
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      .tag {
        &:not(:last-of-type):after {
          content: ",";
        }
        margin-left: 5px;
      }
    }
    .dark-content {
      margin: 0.2em auto;
    }
  }
  &.sample {
    margin-top: 6rem;
  }
}
