@import "./variables.scss";

.blog-root {
  .post-list {
    max-width: 500px;
    height: 550px;
    padding: 5px;
  }
  .post-link {
    .tags {
      height: 9px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      svg {
        width: 15px;
        height: 15px;
        margin: 0;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.post {
  padding: 1rem;
  margin: 0 auto;
  .header {
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      .tag {
        margin-left: 5px;
      }
    }
  }
  &.sample {
    margin-top: 6rem;
  }
}
