@import "./variables.scss";

.form {
  max-width: 50em;
  margin: 0 auto;
  margin-bottom: 2em;
  .form-fields {
    max-height: 350px;
    overflow: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    .MuiFormControl-root {
      margin: 10px auto;
      width: 90%;
      .MuiInputBase-inputMultiline {
        height: unset;
      }
    }
    .form-actions {
      margin: 20px auto;
    }
  }
}
