@import "./variables.scss";

.project-list {
  max-width: 50em;
  min-width: 20em;
  height: 35em;
  padding: 0.2em;
  &.opened {
    height: auto;
  }
  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    > div {
      width: 100%;
    }
    img {
      height: auto;
      width: 100%;
      @media (max-width: 767px) {
        margin-top: 18%;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .project-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    > div {
      margin: 10px;
    }
    .live-app {
      color: $primary-color;
      svg {
        fill: $primary-color;
      }
    }
  }
  .info-boxes {
    max-width: 90%;
    margin: 10px auto;
  }
  .content {
    overflow: auto;
    .dark-content {
      width: unset;
    }
    .description {
      background-color: #232323;
      color: $custom-white;
      padding: 5px;
      margin: 5px auto;
    }
  }
}

.techs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech {
  margin-left: 0.25em;
  &:not(:last-of-type):after {
    content: ",";
  }
}
