@import "./variables.scss";

.view-root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background: no-repeat fixed center / auto;
  @media (max-width: 767px) {
    background-size: cover;
    min-height: 100vh;
    padding: 0;
  }
  &.opened {
    min-height: 100vh;
    &.post {
      background-size: cover;
    }
  }
  .up-arrow {
    margin-top: 60vh;
    height: 200px;
    width: 200px;
    svg {
      height: 200px;
      width: 200px;
      fill: rgba($primary-color, 0.5);
    }
  }
  .view-content {
    background-color: rgba(255, 255, 255, 0.95) !important;
    margin: {
      top: 6rem;
      bottom: 3rem;
    }
    .unopened-view {
      padding: 1rem;
      transition: 1s ease all;
      h1 {
        border-bottom: 4px solid transparent;
        transition: 1s ease border-color;
      }
      &:hover {
        border-radius: 100% !important;
        h1 {
          border-bottom-color: #232323;
        }
      }
    }
  }
}
